<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.briup.dao.ILineDao">
	<resultMap type="line" id="lineResult">
		<id property="id" column="id" />
		<result property="num" column="num" />
		<association property="order" column="order_id" select="findOrderById" />
		<association property="book" column="book_id" select="findBookById" />
	</resultMap>
	
	<insert id="addLine">
		insert into
		tbl_line
		values(t_lines.nextval,#{param1.num},#{param2.id},#{param3.id})
	</insert>
	
	<select id="findLineByOrder" parameterType="Long" resultMap="lineResult">
		select *
		from tbl_line
		where order_id=#{id}
	</select>
	
	<update id="updateLine" parameterType="line">
		update tbl_line
		set num=#{num}
		where id=#{id}
	</update>
	
	
	<resultMap type="order" id="orderResult">
		<id property="oid" column="oid" />
		<result property="cost" column="cost" />
		<result property="orderDate" column="orderDate" />
		<association property="customer" column="customer_id" select="findCustomerById" />
	</resultMap>
	<resultMap type="book" id="bookResult">
		<id property="bid" column="bid" />
		<result property="name" column="name" />
		<result property="price" column="price" />
	</resultMap>
	<resultMap type="customer" id="customerResult">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="password" column="password" />
	</resultMap>
	<select id="findOrderById" parameterType="Long" resultMap="orderResult">
		select *
		from tbl_order
		where id=#{id}
	</select>
	<select id="findBookById" parameterType="Long" resultMap="bookResult">
		select *
		from tbl_book
		where id=#{id}
	</select>
	<select id="findCustomerById" parameterType="Long" resultMap="customerResult">
		select *
		from tbl_customer
		where id=#{id}
	</select>
</mapper>