<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//myba  tis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.dao.ICustomerDao">
	<insert id="addCustomer" parameterType="com.ssm.bean.Customer">
		insert into
		tbl_customer
		values(t_customers.nextval,#{name},#{password},#{zip},#{address},#{telephone},#{email})
	</insert>
	
	<select id="findCustomerById" parameterType="long" resultType="com.ssm.bean.Customer">
		select *
		from tbl_customer
		where id=#{id}
	</select>
	
	<select id="findCustomerByName" parameterType="String" resultType="com.ssm.bean.Customer">
		select *
		from tbl_customer
		where name=#{name}
	</select>
	
	<update id="updateCustomer" parameterType="com.ssm.bean.Customer">
		update tbl_customer
		set password=#{password},
			zip=#{zip},address=#{address},telephone=#{telephone},email=#{email}
		where id=#{id}
	</update>
</mapper>