<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//myba  tis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.dao.IOrderDao">
	<insert id="insertOrder" parameterType="com.ssm.bean.Order">
		insert into
		tbl_order
		values(t_orders.nextval,#{cost},#{orderDate},#{customer.id})
	</insert>
</mapper>